<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@url) do |f| %>
        <%= f.label :long, 'Url to shrink:' %>
        <%= f.text_field :long, :placeholder => 'Your url' %>

        <%= f.submit "Tiny Me", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>