<!DOCTYPE html>
<html>
<head>
  <title>Tiny Me</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <%= yield %>

  <% if flash[:error] %>
      <div id="error"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:success] %>
      <div class="row col-md-6 col-md-offset-3" id="success">

        <div class="input-group">
          <label class="input-group-addon" id="success-long-label">The url you gave us:</label>
          <input type="text" class="form-control" id="success-long-input" value=<%= flash[:success]['long'] %>>
        </div>

        <div class="input-group">
          <label class="input-group-addon" id="success-tiny-label">Your new tiny url:</label>
          <input type="text" class="form-control" id="success-tiny-input" value=<%= flash[:success]['tiny'] %>>
        </div>

      </div>
  <% end %>

</div>

</body>
</html>